.recipes-list {    
    color: blue;
    
}

.header {
    text-align: center;
    background-color: red;
    font-family: "Times New Roman", Verdana, sans-serif;
}

img {
    height: 300px;
    width: auto;
}

.ingredients {
    color: yellow;
    background-color: gray;
    font-size: 15px;
}

.steps{
    background-color: hsl(208, 21%, 55%);
    font-size: 25px;
    font-weight: bold;
}

.description{
    font-size: 20px;
    text-align: right;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}